<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="ISO-8859-1">
<title>Add Order</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" 
			integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
			crossorigin="anonymous">
</head>
<body>

<!--  #e3f2fd; -->
<nav class="navbar navbar-light" style="background-color:#FFC0CB;">
  <a class="navbar-brand" href="#" >
  <img src="/img/Logo.png" width="30" height="30" class="d-inline-block align-top" align = "left">  
      <h5>Joy's Goodies</h5>
  </a>
  		<span sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></span>
</nav>

<div class="container">
		<h2 class="mt-4">Add Order</h2>
		<hr>
		<form th:action="@{/save-order}" th:object="${order}" method="POST">
	
	<input type="text" th:field="*{fullname}" placeholder="Enter Client Name" class="form-control col-4 mb-4" autofocus ="autofocus" required/>
	<input type="text" th:field="*{product}" placeholder="Enter Product" class="form-control col-4 mb-4" required list="products" autocomplete="off"/>
	<datalist id="products">
	<option value="Brownies">
	<option value="Macaroons">
	<option value="Custom Cake">
	<option value="Bento Cake">
	<option value="Cookies">
	</datalist>
	<input type="text" th:field="*{date}" placeholder="Enter Date" class="form-control col-4 mb-4" required/>	
	<button class="btn btn-info" type="submit">Save to the List</button>
	<input type="hidden" th:field="*{id}">
		</form>
		<hr>
	<a th:href="@{/}">Back to List</a>
		<hr/>
	</div>
</body>
</html>